body
{
        background-color: #93a997;
        
}

p {
        font-family: arial;
        
}
p.title {
        
        font-size: 45pt;
        color: #474557;
}

p.normal {
    
        background-color: #d6d6d6;
}

p.image {
 
        background-image: url(Ex3.jpg);
        background-size: 10%;
}

a {
    
        color: #06459e;
}

a:hover {
    
        color: #6c8e0f;
}